<div id = "all">
  <header>
    <h2>Welcome to the Book App</h2>
  </header>
  
  <img alt="Capybara logo" src="assets/Capybara.png" class="img-capy-logo">

  <!-- Display a welcome message -->
  <app-main-page></app-main-page>

  <br>
  <br>

  <!--<router-outlet></router-outlet>-->

  <!-- Book creation form -->
  <app-book-create (bookCreated)="addBook($event)"></app-book-create>

  <br>

  <!-- Button to toggle book list -->
  <button class="button-spacing" (click)="toggleBookList()">
    {{ showBookList ? 'Hide' : 'Show' }} Book List
  </button>

  <!-- Display book list when toggled -->
  <app-book-list *ngIf="showBookList" [books]="books" msg="Your Books"></app-book-list>

  <!-- Footer -->
  <br />
  <div class="container">
    <p class="text-f">Developed by Natalia Herrera, Paulo Enrique and Anthony Lijarza. All rights reserved.</p>
    <img alt="Angular logo" src="assets/logo.png" class = "img-angular-logo">
  </div>
</div>
