<div>
  <h2>Book App</h2>
  <img alt="Capybara logo" src="/public/Capybara.png" class="img-capy-logo">

  <!-- Display a welcome message -->
  <app-main-page msg="Welcome to your reading journey!"></app-main-page>

  <router-outlet></router-outlet>

  <!-- Book creation form -->
  <app-book-create (bookCreated)="addBook($event)"></app-book-create>

  <!-- Button to toggle book list -->
  <button class="button-spacing" (click)="toggleBookList()">
    {{ showBookList ? 'Hide' : 'Show' }} Book List
  </button>

  <!-- Display book list when toggled -->
  <app-book-list *ngIf="showBookList" [books]="books" msg="Your Books"></app-book-list>

  <!-- Footer -->
  <br />
  <div class="container">
    <p class="text-f">Developed by Natalia Herrera and Paulo Enrique. All rights reserved.</p>
    <img alt="Angular logo" src="/public/logo.png">
  </div>
</div>
