.book-create-form {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-create-form h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .book-create-form input {
    width: 97%;
    height: 20px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .book-create-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
  }
  
  .book-create-form button:hover {
    background-color: #45a049;
  }
  